setuptools
distutils
# Flask==2.3.2
numpy==1.21.0
# scikit-learn==1.0.2
joblib
pandas
gunicorn
flask==2.0.1
numpy==1.21.0
scikit-learn==0.24.2
mysql-connector-python==8.0.23
gdown==4.4.0
streamlit==1.20.0
cython==0.29.36
